# Abaikan Virtual Environment Python
venv/
LSTM_HandGesture/venv/

# Abaikan folder data
MP_Data/
Keypoints_Data/
LSTM_HandGesture/MP_Data/
LSTM_HandGesture/Keypoints_Data/

# Abaikan file hasil training & model
*.keras
*.tflite
latest_accuracy.txt

# Abaikan file cache Python
__pycache__/
*.pyc

# Abaikan file konfigurasi IDE/OS
.vscode/
.idea/
*.DS_Store
